body {
    background-color: #0f172a;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container {
    width: 420px;
    background-color: #020617;
    padding: 20px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

h2 {
    text-align: center;
    margin-top: 0;
}

#chat-box {
    height: 350px;
    overflow-y: auto;
    border: 1px solid #1e293b;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #020617;
}

.user {
    text-align: right;
    margin: 5px;
    color: #38bdf8;
}

.bot {
    text-align: left;
    margin: 5px;
    color: #a5b4fc;
}

.input-area {
    display: flex;
    gap: 5px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #1d4ed8;
}
